{{> organisms-header }}
<main role="main">

	<div class="l-container">
		{{> organisms-page-header }}
		{{> organisms-text-passage }}
		{{> organisms-carousel }}
	</div>

	{{# formSection }}
	{{> organisms-form-slideout }}
	{{/ formSection }}

</main>
{{> organisms-footer }}
