{{> organisms-header }}
<main role="main">

	{{# hero }}
		{{> molecules-hero }}
	{{/ hero }}
<div class="l-container">
	<div class="l-page-layout l-page-layout--two-column">
		<div class="l-page-layout__main animate-from-left">

			{{> organisms-text-passage }}
			{{> molecules-link-list }}

			<div class="c-video">
				<iframe class="c-video__iframe" width="560" height="315" src="https://www.youtube.com/embed/dzgGnPyLWfg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>

			<div class="c-section-header">
				<h2 class="c-section-header__title">Contact Us</h2>
			</div>
			
			<div class="c-text-passage">Xtreme Autoglass Pros, LLC serves clients based in Pennsylvania, including the greater areas of Allegheny County, Armstrong County, Butler County, Westmoreland County, Beaver County, Clarion County and other neighboring regions. If you have any questions for us, or if you would like to learn more about our services, you may visit our contact page and submit the form, or call us at 412-226-5006</div>
			{{> molecules-logo-list }}

		</div>
		<div class="l-page-layout__secondary">
			{{# stackedForm }}
			{{> organisms-form-slideout }}
			{{/ stackedForm }}
		</div>
	</div>
</div>


</main>
{{> organisms-footer }}
