{{> organisms-header }}
<main role="main">

	<div class="l-container">
		<div class="l-page-layout l-page-layout--two-column">
			<div class="l-page-layout__main">


					{{> organisms-page-header}}
					{{> organisms-text-passage }}
			</div>
			<div class="l-page-layout__secondary">
				{{# stackedForm }}
				{{> organisms-form-slideout }}
				{{/ stackedForm }}
			</div>

		</div>
	</div>

</main>
{{> organisms-footer }}
