<footer class="c-footer" role="contentinfo">

	<div class="l-container">
		{{# footerLogo }}
		{{> molecules-logo-footer-link }}
		{{/ footerLogo }}
		{{> molecules-footer-nav }}
		<p class="copyright">&copy; {{ year }} {{ companyName }}. All rights reserved.</p>
	</div><!-- end l -->

</footer><!-- end c-footer -->
