<div class="c-form-slideout {{ styleModifier }} js-form-slideout">
	<div class="c-form-slideout__inner l-container">
		{{# stackedFormCloseBtn }}
		{{> molecules-button }}
		{{/ stackedFormCloseBtn }}
		{{# stackedFormHeader }}
		{{> molecules-section-header}}
		{{/ stackedFormHeader}}
		{{# stackedForm }}
		{{> organisms-stacked-form }}
		{{/ stackedForm }}
	</div>
</div>

<div class="c-form-slideout__scroll-stopper"></div>
