<header class="c-header" role="banner">
	<div class="c-header__inner">
		<div class="c-header__top">

			{{> molecules-logo-link }}

			<div class="c-header__text">
				{{# socialNavSection }}
				{{> molecules-social-nav }}
				{{/ socialNavSection }}
				<a href="{{ url }}" class="c-header__quote-link">
					<h2 class="c-header__quote">Call For An Instant Quote</h2>
					<span class="c-header__phone tel">412-226-5006</span>
				</a>
				<address class="c-header__address adr">
					<span class="street-address">23 D Dewey Lane</span><br />
					<span class="locality">Gibsonia</span>,
					<abbr class="region" title="Pennsylvania">PA</abbr>
					<span class="postal-code">15044</span>
				</address>
			</div>

		</div>
	</div>
</header><!-- end c-header -->

<div class="c-navigation-bar">
	{{# navToggle }}
	{{> molecules-button }}
	{{/ navToggle }}

	{{# primaryNav }}
	{{> molecules-primary-nav }}
	{{/ primaryNav }}

</div><!-- end c-header__controls -->
{{# formSlideout }}
{{> organisms-form-slideout }}
{{/ formSlideout }}
