/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Button
 */
.c-btn {
	display: inline-block;
	background: $color-brand-gray;
	color: $color-white;
	line-height: 1;
	font-family: $font-secondary;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 1rem 2rem;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	text-align: center;
	transition: background 0.2s ease;

	&:hover,
	&:focus {
		background: $color-brand-blue;
		color: $color-white;
	}

	/**
	 * Disabled button
	 */
	&.disabled {
		background: $color-gray-15;
		color: $color-gray-50;
	}

	.c-primary-nav & {
		font-family: $font-secondary;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	&.c-primary-nav__item--highlight {
		background: $color-brand-gray;
		color: $color-white;

		&:hover,
		&:focus {
			background: $color-brand-yellow-dark;

			@media all and (min-width: $bp-large) {
				background: $color-brand-blue;
				color: $color-brand-yellow;
			}
		}
	}
}

/**
 * Small button
 */
.c-btn-small {
	padding: $pad-half;
}

/**
 * Large button
 */
.c-btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $color-gray-50;
	font-size: 1.4rem;
	font-weight: normal;
}

/**
 * Text button
 */
.c-btn--text {
	position: relative;
	background: none;
	border: none;
	font-style: normal;
	font-weight: bold;
	font-size: 1.2rem;

	&:hover,
	&:focus {
		color: $color-brand-yellow;
	}
}

/**
 * Button on overlay
 */

.c-btn--overlay {
	background: $color-gray-35;
}

.c-btn__inner {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*
 * Button icon
 */
.c-btn__icon {
	width: 16px;
	height: 16px;
	color: currentColor;
	fill: currentColor;
}

/*
 * Button icon before text, add styles to icon
 */
.c-btn__icon + .c-btn__text {
	margin-left: 1rem;
}

/*
 * Button icon after text, add styles to button icon
 */
.c-btn__text + .c-btn__icon {
	margin-left: 1rem;
}
