/*------------------------------------*\
    #FIELDS
\*------------------------------------*/

.c-field {
	margin-bottom: 1rem;

	.c-stripe & {
		text-align: center;

		@media all and (min-width: $bp-small-3) {
			width: 20%;
		}
	}
}

.c-field--span-full {
	@media all and (min-width: $bp-small-2) {
		grid-column: span 2;
	}
}

.c-field__note {
	font-size: $font-size-small;

	a {
		text-decoration: underline;
	}
}

.c-field__input {
	.c-field--small & {
		padding: 0.25rem;
	}

	.c-stripe & {
		max-width: 5rem;
		text-align: center;
	}
}

.c-field__label {
	font-family: $font;

	.c-form-slideout & {
		color: $color-white;

		@media all and (min-width: $bp-large-2) {
			color: $color-gray-73;
		}
	}

	.c-form-slideout--menu & {
		@media all and (min-width: $bp-large-2) {
			color: $color-white;
		}
	}
}
