/*------------------------------------*\
    #FOOTER NAVIGATION
\*------------------------------------*/

/**
 * Footer Nav
 */
.c-footer-nav {
	display: block;
	margin-right: 1rem;
	margin-bottom: 2rem;
}

/**
 * Footer Nav List
 */
.c-footer-nav__list {
	display: flex;
	flex-direction: column;
}

.c-footer__bottom {
	@media all and (min-width: $bp-large) {
		margin-left: auto;
	}
}

/**
 * Footer Nav List Item
 */
.c-footer-nav__item {
	width: 50%;
	border-bottom: 1px solid $color-white;

	@media all and (min-width: $bp-small) {
		width: inherit;
	}
}

/**
 * Footer Nav Links
 */
.c-footer-nav__link {
	font-family: $font-secondary;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
	padding: 1rem 2rem 1rem 0;
	color: $color-white;

	&:hover,
	&:focus {
		color: $color-brand-yellow;
	}
}
