/*------------------------------------*\
    #FOOTER NAVIGATION
\*------------------------------------*/

/**
 * Footer Nav
 */
.c-footer-nav {
	display: block;
	margin-right: 1rem;
	margin-bottom: 2rem;
	padding: 0;
	background: none;
}

/**
 * Footer Nav List
 */
.c-primary-nav__list {
	.c-footer & {
		display: block;
	}
}

/**
 * Footer Nav List Item
 */
.c-primary-nav__item {
	.c-footer & {
		width: 50%;
		border-bottom: 1px solid $color-white;

		@media all and (min-width: $bp-small) {
			width: inherit;
		}
	}
}

/**
 * Footer Nav Links
 */
.c-primary-nav__link {
	.c-footer & {
		font-family: $font-secondary;
		font-size: $font-size-med;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 1px;
		display: block;
		padding: 1rem 0;
		color: $color-white;

		&:hover,
		&:focus {
			color: $color-brand-yellow;
		}
	}
}
