/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

/**
 * Footer
 */
.c-footer {
	clear: both;
	overflow: hidden;
	background: $color-gray-73;
	color: $color-white;
	line-height: 1.2;
	padding: 1em 0;
	font-family: $font-secondary;
	text-transform: uppercase;
	z-index: 2;
}

.c-footer__inner {
	@media all and (min-width: $bp-large) {
		display: flex;
	}
}

.c-footer__top {
	@media all and (min-width: $bp-large) {
		width: 50%;
		margin-right: 2rem;
	}
}

.c-footer__bottom {
	@media all and (min-width: $bp-large) {
		margin-left: auto;
	}
}

.c-footer__link {
	display: block;
	color: $color-white;
	font-family: $font-secondary;
	letter-spacing: 1px;
	padding: 1rem 0;
	border-bottom: 1px solid $color-white;
	text-transform: none;

	&:hover,
	&:focus {
		color: $color-brand-yellow;
	}

	&:last-child {
		margin-bottom: 2rem;
	}
}

.c-footer__heading {
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.c-footer__address {
	font-family: $font-secondary;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

/**
 * Footer nav
 */
.c-footer__info {
	max-width: 40em;
	font-family: $font-secondary;

	a {
		color: $color-gray-15;
		text-decoration: underline;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

.c-footer__copyright {
	font-family: $font-secondary;
	text-transform: uppercase;
}

.c-prefooter {
	background: $color-gray-15;
	box-shadow: 0 -5px 12px 0 $color-brand-yellow-dark;
	border-bottom: 5px solid $color-brand-yellow-dark;
}

.c-prefooter__heading {
	text-transform: uppercase;
	font-size: $font-size-large;
	margin-bottom: 2rem;

	@media all and (min-width: $bp-med) {
		font-size: 2rem;
	}
}
.c-prefooter__list {
	text-align: center;

	@media all and (min-width: $bp-small) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}

.c-prefooter__item {
	margin-right: 2rem;
	margin-bottom: 2rem;

	&:last-child {
		margin-right: 0;
		margin-bottom: 0;
	}

	@media all and (min-width: $bp-small) {
		margin-bottom: 0;
	}
}

.c-prefooter__gas-monkey {
	max-width: 10rem;
}

.c-prefooter__inner {
	text-align: center;
}
