/*------------------------------------*\
    #FORMS
\*------------------------------------*/

.c-form {
	max-width: 40rem;
	margin: 0 auto;
}

/**
 * Stacked form button wrapper
 */
.c-form__actions {
	margin-bottom: 2rem;
}

.c-select {
	width: 100%;
}

.c-input-group__text {
	font-weight: normal;

	.c-form-slideout & {
		color: $color-white;

		@media all and (min-width: $bp-large-2) {
			color: $color-gray-73;
		}
	}

	.c-form-slideout--menu & {
		@media all and (min-width: $bp-large-2) {
			color: $color-white;
		}
	}
}
