/*------------------------------------*\
    #FORMS SLIDEOUT
\*------------------------------------*/

/**
 * Form slideout
 */
.c-form-slideout {
	position: fixed;
	top: 0;
	overflow: hidden;
	height: 100vh;
	width: 100%;
	background: $color-brand-blue;
	transform: translateX(-100%);
	transition: all 0s ease;
	z-index: 2;

	&.is-active {
		transform: translateX(0);
		overflow: auto;
		transition: all 0.5s ease;
	}

	@media all and (min-width: $bp-large-2) {
		position: static;
		max-height: none;
		height: 100%;
		background: none;
		transform: translateX(0);
		z-index: 0;
	}
}

.c-form-slideout__close-btn {
	position: absolute;
	top: 0;
	right: 0;

	@media all and (min-width: $bp-large) {
		display: none;
	}
}
