/*------------------------------------*\
    #FORMS SLIDEOUT
\*------------------------------------*/

/**
 * Form slideout
 */
.c-form-slideout {
	position: fixed;
	top: 0;
	overflow: hidden;
	height: 100vh;
	width: 100%;
	background: $color-brand-blue;
	transform: translateX(calc(-100% - 1rem));
	transition: all 0s ease;
	z-index: 2;

	&.is-active {
		transform: translateX(-1rem);
		overflow: auto;
		transition: all 0.5s ease;
	}

	@media all and (min-width: $bp-large-2) {
		position: static;
		max-height: none;
		height: 100%;
		background: none;
		transform: translateX(-1rem);
		z-index: 0;
	}
}

.c-form-slideout--menu {
	@media all and (min-width: $bp-large-2) {
		position: fixed;
		top: 0;
		margin: 0 auto;
		overflow: hidden;
		height: 100vh;
		width: 100%;
		background: $color-brand-blue;
		transform: translateX(-100%);
		transition: all 0s ease;
		z-index: 2;
	}

	&.is-active {
		transform: translateX(0);
		overflow: auto;
		transition: all 0.2s ease;
	}
}

.c-form-slideout__close-btn {
	position: absolute;
	top: 0.4rem;
	right: 0;

	@media all and (min-width: $bp-large-2) {
		display: none;
	}

	.c-form-slideout--menu & {
		@media all and (min-width: $bp-large-2) {
			display: inline-block;
		}
	}
}
