/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/**
 * Header
 */
.c-header {
	position: relative;
	box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.2);
	padding: 0.5em 0;
	background: $color-brand-blue;
	z-index: 3;

	@media all and (min-height: $bp-large) {
		padding: 1em 0;
	}
}

.c-header__inner {
	display: block;
	padding: 0 1rem;
	margin: 0 auto;
	max-width: $l-max-width;
}

.c-header__top {
	display: block;
	text-align: center;

	@media all and (min-width: $bp-small-2) {
		display: flex;
		margin-bottom: 1rem;
		text-align: left;
	}

	@media all and (min-width: $bp-large) {
		align-items: center;
	}
}

.c-header__tagline {
	text-transform: uppercase;
	color: $color-brand-yellow;
	font-weight: normal;
	font-style: italic;
	text-shadow: 2px 2px $color-brand-yellow-dark;
	margin-bottom: 1rem;

	@media all and (min-width: $bp-small-2) {
		margin-bottom: 0;
	}

	@media all and (min-width: $bp-large) {
		text-align: center;
	}
}

.c-header__span {
	display: block;
	font-family: $font-secondary;
	text-transform: uppercase;
	margin-bottom: 1rem;

	@media all and (min-width: $bp-large) {
		margin-bottom: 0;
	}
}

.c-header__text {
	color: $color-white;
	margin-left: auto;

	@media all and (min-width: $bp-large) {
		margin-left: 0;
		display: flex;
		align-items: flex-end;
		flex: 1 0 auto;
	}
}

.c-header__info {
	@media all and (min-width: $bp-large) {
		flex: 1;
		text-align: center;
	}
}

.c-header__contact {
	@media all and (min-width: $bp-large) {
		margin-left: auto;
		text-align: center;
	}
}

.c-header__quote {
	font-size: $font-size-large;
}

.c-header__phone {
	font-weight: bold;
}

.c-header__quote-link {
	display: block;
	color: $color-white;
	font-size: $font-size-large;
	font-family: $font;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: $color-brand-yellow;
	}
}

.c-header__address {
	color: $color-white;
	font-family: $font-secondary;
	text-transform: uppercase;
}

/**
 * Header Controls
 * 1) This container holds the primary nav and search menu
 */
.c-header__controls {
	display: flex;
	align-items: center;
	justify-content: center;
}

.c-header__nav-btn {
	margin-right: 1rem;
	@media all and (min-width: $bp-large) {
		display: none;
	}
}

.c-header__quote-btn {
	@media all and (min-width: $bp-large) {
		margin-left: 5rem;
	}
	@media all and (min-width: $bp-large-2) {
		display: none;
	}

	.error404 & {
		display: none;
	}
}

.c-header__quote-btn--visible {
	@media all and (min-width: $bp-large-2) {
		display: inline-block;
	}
}

.c-header__close-btn {
	position: absolute;
	top: 0;
	right: 0;

	@media all and (min-width: $bp-large) {
		display: none;
	}
}

.c-navigation-bar {
	position: sticky;
	top: 0;
	width: 100%;
	padding: 1rem 0;
	background-color: $color-brand-blue;
	background-image: url("../images/parallels.svg");
	background-size: cover;
	background-position: -0.5rem bottom;
	background-repeat: no-repeat;
	z-index: 4;
}

.c-navigation-bar__inner {
	display: flex;
	justify-content: center;
	position: relative;

	.c-navigation-bar.is-active & {
		position: static;
	}

	@media all and (min-width: $bp-large) {
		align-items: center;
	}
}

.menu-navigation-bar {
	background-image: url("/wp-content/themes/xtremeautoglass/images/parallels.svg") !important;
}
