/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/**
 * Header
 */
.c-header {
	position: relative;
	box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.2);
	padding: 0.5em 0;
	background: $color-brand-blue;

	@media all and (min-height: $bp-large) {
		padding: 1em 0;
	}
}

.c-header__inner {
	display: block;
	padding: 0 1rem;
	margin: 0 auto;
	max-width: $l-max-width;
}

.c-header__top {
	display: block;
	text-align: center;

	@media all and (min-width: $bp-small-2) {
		display: flex;
		margin-bottom: 1rem;
		text-align: left;
	}
}

.c-header__text {
	color: $color-white;
	margin-left: auto;
}

.c-header__quote {
	font-size: $font-size-large;
}

.c-header__phone {
	font-weight: bold;
}

.c-header__quote-link {
	color: $color-white;
	font-size: $font-size-large;
	font-family: $font;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: $color-brand-yellow;
	}
}

.c-header__address {
	color: $color-white;
	font-size: $font-size-med;
}

/**
 * Header Controls
 * 1) This container holds the primary nav and search menu
 */
.c-header__controls {
	display: flex;
	align-items: center;
	justify-content: center;
}

.c-header__nav-btn {
	@media all and (min-width: $bp-large) {
		display: none;
	}
}

.c-navigation-bar {
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	width: 100%;
	padding: 1rem 0;
	background-color: $color-brand-blue;
	background-image: url("../images/parallels.svg");
	background-size: cover;
	background-position: -0.5rem bottom;
	background-repeat: no-repeat;
	z-index: 1;
}
