/*------------------------------------*\
	#HERO BLOCK
\*------------------------------------*/
.c-hero {
	display: block;
	position: relative;
	margin-bottom: 1rem;
	overflow: hidden;
}

.c-hero__media {
	overflow: hidden;
}

/**
 * Hero Image
 * 1) This is the primary hero image that runs full-bleed across the layout
 */
.c-hero__img {
	display: block;
	width: 100%;
	max-height: 50vh;
	object-fit: cover;
	animation: scaleImage 2s 1 1s linear forwards;
}

/**
 * Hero Headline
 * 1) This sits overtop of the hero image when space permits
 */
.c-hero__headline {
	background: $color-brand-blue;
	color: $color-white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 2rem;
	padding: 1rem;
	font-family: $font-secondary;
	font-weight: bold;
	transition: all $anim-speed-quick $anim-ease;

	ul {
		list-style: square;
		margin-left: 2rem;
	}

	@media all and (min-width: $bp-large) {
		position: absolute;
		bottom: 1rem;
		left: 1rem;
		width: 50%;
		font-size: 2.2rem;
		background: $color-dim-50;
	}
}
