/*------------------------------------*\
    #LOGO LIST
\*------------------------------------*/

.c-logo-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2rem;
}

.c-logo-list__item {
	margin: 0 2rem 2rem 0;

	&:last-child {
		margin: 0;
	}
}

.c-logo-list__link {
	opacity: 1;
	transition: 0.2s $anim-speed-quick $anim-ease;
	&:hover,
	&:focus {
		opacity: 0.6;
	}
}
