/*------------------------------------*\
    #LOGO
\*------------------------------------*/

.c-logo {
	display: block;
	width: 100%;
	max-height: 7rem;
}

.c-logo-link {
	display: inline-block;
	max-width: 200px;
	margin-right: 1rem;

	@media all and (min-width: $bp-small-2) {
		max-width: 250px;
	}
}

.c-logo-footer-link {
	display: block;
	max-width: 200px;
}
