/*------------------------------------*\
    #PRIMARY NAVIGATION
\*------------------------------------*/

.c-nav-container {
	display: block;
	position: absolute;
	padding: 4rem 2rem 1rem 2rem;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 2;
	transform: translateX(-100%);
	background: $color-brand-blue;

	.c-navigation-bar.is-active & {
		transform: translateX(0);
		transition: transform 0.5s ease-in;
		overflow: auto;

		@media all and (min-width: $bp-large) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: inherit;
			box-shadow: 0;
			height: auto;
			background: none;
			overflow: visible;
			padding: 0.5rem;
			margin-right: 1rem;
			transition: transform 0s ease-in;
		}
	}

	@media all and (min-width: $bp-large) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: static;
		height: auto;
		padding: 0.5rem;
		background: none;
		transform: translateX(0);
		transition: transform 0s ease-in;
	}
}

/**
 * Navigation tag
 */
.c-primary-nav {
	display: block;
	padding: 0.5rem;

	@media all and (min-width: $bp-large) {
		background: rgba(0, 0, 0, 0.5);
	}
}

/**
 * Nav List
 */
.c-primary-nav__list {
	text-align: center;

	@media all and (min-width: $bp-large) {
		display: flex;
		align-items: center;
		text-align: left;
	}
}

.c-primary-nav__item--highlight {
	background: $color-brand-gray;
	color: $color-white;
	text-align: center;
}

/**
 * Nav Links
 */
.c-primary-nav__link {
	display: flex;
	align-items: center;
	padding: 1rem;
	font-family: $font-secondary;
	font-size: $font-size-large;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;

	.c-primary-nav__item--highlight & {
		background: $color-brand-gray;
		color: $color-white;

		&:hover,
		&:focus {
			background: $color-brand-yellow;

			@media all and (min-width: $bp-large) {
				background: $color-brand-blue;
				color: $color-brand-yellow;
			}
		}
	}

	.c-primary-nav__item.is-active > & {
		background: $color-brand-blue;
	}

	.c-navigation-bar & {
		color: $color-white;

		@media all and (min-width: $bp-large) {
			color: $color-white;
			font-size: $font-size-med;
		}

		&:hover,
		&:focus {
			color: $color-brand-yellow;
		}
	}

	.menu-item-has-children > & {
		&:after {
			content: url("/wp-content/themes/xtremeautoglass/images/caret-down-white.svg");
			display: block;
			position: relative;
			top: -3px;
			height: 22px;
			width: 22px;
			transform: scale(0.12);
			transition: transform 0.2s ease, top 0.2s ease;
		}
	}

	.menu-item-has-children.is-active > & {
		&:after {
			height: 22px;
			width: 22px;
			transform: scale(0.12) rotateX(180deg);
			top: 4px;
		}
	}
}

.c-primary-nav__sublist {
	max-height: 0;
	margin-left: 1rem;
	border-left: 1px solid $color-brand-yellow;
	background: $color-brand-blue;
	overflow: hidden;
	transition: max-height 0.2s ease;

	.c-primary-nav__item.is-active & {
		max-height: 40rem;
	}

	@media all and (min-width: $bp-large) {
		position: absolute;
		margin-left: 0;
		border-left: none;
	}
}

.c-primary-nav__icon {
	height: 22px;
	width: 22px;
	fill: $color-white;
	margin-left: 0.5rem;
	transform: rotate(-90deg);
	transition: transform 0.2s ease, fill 0.2s ease;

	.c-primary-nav__link:hover &,
	.c-primary-nav__link:focus & {
		fill: $color-brand-yellow;
	}

	.c-primary-nav__item.is-active & {
		transform: rotate(0deg);

		@media all and (min-width: $bp-large) {
			transform: rotate(180deg);
		}
	}

	@media all and (min-width: $bp-large) {
		transform: rotate(0deg);
	}
}
