/*------------------------------------*\
    #WORDPRESS
\*------------------------------------*/

/**
 * Wordpress specific styles
 */
.wpcf7-radio span.wpcf7-list-item {
	display: block;
}

input[type="submit"].wpcf7-submit {
	width: auto;
	padding: 1rem 2rem;
	border: none;
}

.wpcf7-form label {
	color: $color-white;

	@media all and (min-width: $bp-large-2) {
		color: $color-gray-73;
	}

	.c-form-slideout--menu & {
		@media all and (min-width: $bp-large-2) {
			color: $color-white;
		}
	}
}
