{{# linkList }}
<ul class="c-link-list {{ styleModifier }}">

    {{# items }}
    <li class="c-link-list__item">

        <a href="{{ url }}" class="c-link-list__link">

            <div class="c-link-list__body">

                <span class="c-link-list__link-text">{{{ cta }}}</span>

            </div>

            {{# linkListIcon }}
            {{> atoms-icon }}
            {{/ linkListIcon }}

        </a><!--end c-link-list__link-->

    </li><!--end c-link-list__item-->

    {{/ items }}

</ul><!--end c-link-list-->
{{/ linkList }}
