{{# logoList }}
<ul class="c-logo-list {{ styleModifier }}">

    {{# items }}
    <li class="c-logo-list__item">

        <a href="{{ url }}" class="c-logo-list__link">

            {{> atoms-landscape}}

        </a><!--end c-logo-list__link-->

    </li><!--end c-logo-list__item-->

    {{/ items }}

</ul><!--end c-logo-list-->
{{/ logoList }}
