<div class="c-social-nav">
    <h4 class="c-social-nav__heading">{{ heading }}</h4>
    <ul class="c-social-nav__list">

        {{# socialNav }}
        <li class="c-social-nav__item">

            <a href="{{ url }}" class="c-social-nav__link">
                {{> atoms-icon }}
            </a><!--end c-social-nav__link-->

        </li><!--end c-social-nav__item-->
        {{/ socialNav }}

    </ul><!--end c-social-nav-->
</div>
